
 <h2>Pesquisa Por Nome</h2>
 <div [formGroup]="formGroup">
   <input type="text" formControlName="input" placeholder="Digite o nome do produto">
 </div>
 <button (click)="filtrarNome()">Filtrar Nome</button>

 <h2>Pesquisa Por Status</h2>
<div [formGroup]="formGroup">
  <input type="text" formControlName="input" placeholder="Digite o status">
</div>
<button (click)="filtrarStatus()">Filtrar Status</button>

<h2>Pesquisa Por Preço</h2>
<div [formGroup]="formGroup">
    <input type="number" formControlName="precoMin">
    <input type="number" formControlName="precoMax">
</div>
<button (click)="filtrarPorPreco()">Filtrar Preço</button>



 <div *ngFor="let produto of produtosFiltrados">
   <h2>{{ produto.titulo }}</h2>
   <p>{{ produto.descricao }}</p>
   <p>Preço: {{ produto.valor | currency }}</p>
   <p>Promoção: {{ produto.promocao ? 'Sim' : 'Não' }}</p>
   <p>Status: {{ produto.status ? 'Ativo' : 'Inativo' }}</p>
   <img [src]="produto.imgTopo" alt="{{ produto.descricao }}" width="100">
 </div>
