<button (click)="getProducts()">Carregar Produtos</button>
<!--
<div *ngFor="let product of products">
  <h2>{{ product.titulo }}</h2>
  <p>{{ product.descricao }}</p>
  <p>Preço: {{ product.valor | currency }}</p>
</div> -->


<!-- <div [formGroup]="formGroup">
  <input type="text" formControlName="input">

  <button (click)="filtrar()">Filtrar</button>

  <div *ngFor="let produto of produtosFiltrados">
    <h2>{{ produto.titulo }}</h2>
    <p>{{ produto.descricao }}</p>
    <p>Preço: {{ produto.valor | currency }}</p>
    <p>Promoção: {{ produto.promocao ? 'Sim' : 'Não' }}</p>
    <img [src]="produto.imgTopo" alt="{{ produto.titulo }}" width="100">
  </div>
</div> -->


<div> <div [formGroup]="formGroup">
  <input type="text" formControlName="input"> </div>
  <button (click)="filtrar()">Filtrar</button>
  <div *ngFor="let produto of produtosFiltrados">


